<ul class="language-options">
    <li><button id="active">English</button></li>
    <li><button>Español</button></li>
    <li><button>Català</button></li>
    <li><button>Italiano</button></li>
    <li><button>Deutsch</button></li>
    <li><button>Lietuvių</button></li>
    <li><button>Português</button></li>
    <li><button>Русский</button></li>
    <li><button id="hebrew">עברית</button></li>
    <li><button>العربية</button></li>
</ul>