<%= form_tag({}, id: 'contact-form') %>
    <h1 class="contactLogotype">WIKITONGUES</h1>
    <input id="name" name="name" type="text" placeholder="What's your name?">
    <input id="email" name="email" type="text" placeholder="What's your email?">
    <textarea id="message" name="message" placeholder="Whats up?"></textarea>
    <input id="submit" type="submit" value="Submit">
</form>