 <div class="content-wrapper">
    <%= render "language_options" %>

    <h1 class="logotype">WIKITONGUES</h1>
    <h4>Every language in the world, for everyone.</h4>
    <p id="summary">Wikitongues is a community effort to give all the world’s people access to all the world’s 7,000 languages — the stories and the feelings behind them. In coordination with a network of volunteers, we're dedicated to showing the world the true meaning of diversity.</p>
    <button id="get-involved">Get involved.</button>

    <%= render "social_media" %>

    <p class="mobile-text">Wikitongues is a community effort to give all the world’s people access to all the world’s 7,000 languages — the stories and the feelings behind them. In coordination with a network of volunteers, we're dedicated to showing the world the true meaning of diversity.</p>
</div>
<footer>
    <div class="content-wrapper">
        <p><span class="first">Made with international love by </span>@<a href="http://www.twitter.com/dbudell" target="_blank">dbudell</a>,
        @<a href="http://www.twitter.com/freddieandrade" target="_blank">freddieandrade</a>,
        @<a href="http://www.twitter.com/@lindiebee" target="_blank">lindiebee</a><span class="second"> and</span>
        @<a href="http://www.twitter.com/@fateuser" target="_blank">fateuser</a>.</p>
        <p>© 2014 Wikitongues, All Rights Reserved</p>
    </div>
</footer>

<div id="overlay">
    <%= render "modal" %>
</div>
